@using Microsoft.AspNetCore.Identity
@inject Mazi.Pipeline.Api.Security.IUserInformation _UserInformation
@inject Mazi.Pipeline.Api.Security.ISecurityConfiguration _SecurityConfig


<ul class="navbar-nav">
	@if (_UserInformation.IsLoggedIn == false)
	{
		<li class="nav-item">
			@* <a class="nav-link text-dark" href="@_SecurityConfig.LoginPath"> *@
			<a class="nav-link text-dark" href="/Security/Login">
				Login
			</a>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" href="@_SecurityConfig.LogoutPath">
				Logout
			</a>
		</li>
		<li class="navbar-text">
			<i>Hi, @_UserInformation.Username</i>
		</li>
	}
</ul>